<div class="container padded">
 <div class="row" id="workspaces">
   <% @workspaces.each do |workspace| %>

   <%= render 'card_dashboard', workspace: workspace %>
  <% end -%>
</div>
<div class="row text-center" id="new_workspace" >
  <%= link_to "Create a new space", new_workspace_path, remote: true %>
</div>
</div>

