
<div class="container padded">
	<h2>The 3 hottest workplaces around<h2>
		<%= link_to "Workspaces", "/workspaces", class: "btn btn-primary" %>
		
	</div>

	<div class="card-container">
		<div class="container">
			<div class="row">

				<% Workspace.limit(3).each do |work|  %>

				<%= render 'workspaces/card', workspace: work %>

				<% end  %>

			</div>
		</div>
	</div>