<div class="container padded">
	<h2>All the Workspaces<h2>
		<%= link_to "The Hottest Workspaces", "/workspaces/hot", class: "btn btn-danger" %>


	</div>


	<div class="card-container">
		<div class="container">
			<div class="row">
				<% Workspace.all.each do |work|  %>

				<%= render 'card', workspace: work %>
				
				<% end  %>

			</div>
		</div>
	</div>

