<form action="/workspaces/search" class="form-inline margin">

	<input type="text" class="form-control input-lg" placeholder="city" name="city" value="<%= params[:city] %>">

	<input type="text" class="form-control input-lg" name="daterange" name="daterange" value="<%= params[:daterange] %>">

	<button type="submit" class="btn btn-primary btn-lg">Search</button>

</form>

<script type="text/javascript">
	$(function() {
		$('input[name="daterange"]').daterangepicker({
			"showDropdowns": true,
			"showWeekNumbers": true,
			"autoApply": true,
			"startDate": "01/01/2016",
			"endDate": "01/02/2016",
			"opens": "center",
			"buttonClasses": "btn btn-lg"
		}, function(start, end, label) {
			console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
		});
	});
</script>

<!-- Include  Moment.js -->
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
