
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(50,50,50,0.3) 8%, rgba(50,50,50,0.2) 50%), url(<%= image_url('bg.png') %>);">
	<div class="banner-content">

		<h1>ProMesis</h1>
		<br>

		
		<%= render 'shared/search_form' %>
		

	</div>
</div>

<%= render file: 'workspaces/hot' %>