
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(50,50,50,0.3) 8%, rgba(50,50,50,0.2) 50%), url(<%= image_url('bg.png') %>);">
	<div class="banner-content">

		<h1>ProMesis</h1>
		<br>
		<form action="#" class="form-inline margin">

			<input type="text" class="form-control input-lg" placeholder="city" name="city">

			<input type="text" class="form-control input-lg" name="daterange" placeholder="01/01/2015 - 01/31/2015" name="daterange">

			<select name="persons" id="" class="form-control input-lg">
				<option value="1">1 person</option>
				<option value="2">2 - 4 persons</option>
				<option value="3">4+ persons</option>
			</select>

			<button type="submit" class="btn btn-primary btn-lg">Search</button>

		</form>

		<script type="text/javascript">
			$(function() {
				$('input[name="daterange"]').daterangepicker({
					"showDropdowns": true,
					"showWeekNumbers": true,
					"timePickerIncrement": 60,
					"autoApply": true,
					"startDate": "01/01/2016",
					"endDate": "01/02/2016",
					"opens": "center",
					"buttonClasses": "btn btn-lg"
				}, function(start, end, label) {
					console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
			});
		});
	</script>

</div>
</div>




<!-- Include  Moment.js -->
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />




<div class="card-container">
	<div class="container">
		<div class="row">

			<div class="col-xs-12 col-sm-4">
				<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url('http://www.allergiedietisten.com/wp-content/uploads/2015/08/antwerpen.jpg');">
					<div class="card-category">Antwerp</div>
					<div class="card-description">
						<h2>20 square meters</h2>
						<p>Very cool stuff</p>
					</div>
					<!-- <img class="card-user avatar" src="images/seb.jpg"> -->
					<a class="card-link" href="#" ></a>
				</div>
			</div>

			<div class="col-xs-12 col-sm-4">
				<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url('http://www.pycty.com/wp-content/uploads/2014/09/costation21.jpg');">
					<div class="card-category">Brussels</div>
					<div class="card-description">
						<h2>80 square meters</h2>
						<p>Pitch room @Co.Station</p>
					</div>
					<!-- <img class="card-user avatar" src="images/anne.jpg"> -->
					<a class="card-link" href="#" ></a>
				</div>
			</div>

			<div class="col-xs-12 col-sm-4">
				<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url('https://www.computable.be/img/29/54/org_org/2954051.jpg');">
					<div class="card-category">Ghent</div>
					<div class="card-description">
						<h2>12 square meters</h2>
						<p>Chair + desk in new Co.Station</p>
					</div>
					<!-- <img class="card-user avatar" src="images/romain.jpeg"> -->
					<a class="card-link" href="#" ></a>
				</div>
			</div>

		</div>
	</div>
</div>