
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(50,50,50,0.3) 8%, rgba(50,50,50,0.2) 50%), url(<%= image_url('bg.png') %>);">
	<div class="banner-content">

		<h1>ProMesis</h1>


	</div>
</div>

<div class="card-container">
	<div class="container">
		<div class="row">

			<div class="col-xs-12 col-sm-4">
				<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url('http://www.allergiedietisten.com/wp-content/uploads/2015/08/antwerpen.jpg');">
					<div class="card-category">Antwerp</div>
					<div class="card-description">
						<h2>20 square meters</h2>
						<p>Very cool stuff</p>
					</div>
					<!-- <img class="card-user avatar" src="images/seb.jpg"> -->
					<a class="card-link" href="#" ></a>
				</div>
			</div>

			<div class="col-xs-12 col-sm-4">
				<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url('http://www.pycty.com/wp-content/uploads/2014/09/costation21.jpg');">
					<div class="card-category">Brussels</div>
					<div class="card-description">
						<h2>80 square meters</h2>
						<p>Pitch room @Co.Station</p>
					</div>
					<!-- <img class="card-user avatar" src="images/anne.jpg"> -->
					<a class="card-link" href="#" ></a>
				</div>
			</div>

			<div class="col-xs-12 col-sm-4">
				<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url('https://www.computable.be/img/29/54/org_org/2954051.jpg');">
					<div class="card-category">Ghent</div>
					<div class="card-description">
						<h2>12 square meters</h2>
						<p>Chair + desk in new Co.Station</p>
					</div>
					<!-- <img class="card-user avatar" src="images/romain.jpeg"> -->
					<a class="card-link" href="#" ></a>
				</div>
			</div>

		</div>
	</div>
</div>