<% if @unavailabilities.nil? %>
  <p>This space is fully available for any booking!</p>
<% else %>
  <p> This space has some unavailabilities:</p>
  <ul>
    <% @unavailabilities.each do |u| %>
    <li><%= u %></li>
    <% end %>
  </ul>
<% end %>


