
  <div class="modal fade" id="workermodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">My working style</h4>
        </div>
        <div class="modal-body">
          <%= simple_form_for [@user, @user.worker] do |f| %>
          <%= f.input :working_style, :as => :check_boxes, :collection => ["Happy", "Corporate", "Geeky", "Awkard nerd", "Start-upper", "Weird random guy with a propeller beanie"] %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.button :submit, "Update working style" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
